@model CapaNegocio.Entities.MOTIVACION

@{
    ViewBag.Title = "Details";
    Layout = null;
}


<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MOT_NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT_NOMBRE)
        </dd>

    </dl>
</div>

