@model CapaNegocio.Entities.TIPO_COLEGIO

@{
    ViewBag.Title = "Details";
    Layout = null;
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TPC_NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TPC_NOMBRE)
        </dd>

    </dl>
</div>
